<style type="text/css">
  table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
</style>

<div class="modal-over">

 <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>

    <div class="modal-content" >

        <div class="modal-header">
            <center>
                <h3 class="modal-title">RESULT</h3>
            </center>

        </div>
        <div class="wrapper-md">

           
     
         
   
    <div class="panel-body " >
      <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
       
        <div class="panel-body">
           
          <form class="form-horizontal" role="form" >
   
                <div class = "col-md-12">
                    <div class="table-responsive">          
  <div id="showData"></div>
  </div>
                    
                </div>
                <br>
                
               
        </form>
                </div>
            
               
           
      
       
            
            
            
            
           
            
          
       
          <br>
          <br>
           <center>
             <!--<button class="btn m-b-xs w-xs " ng-click="cancel()">Cancel</button>
              <button class="btn m-b-xs w-xs btn-success" ng-click="subm()">Submit</button>-->
          
         
          
        </div>
      </div>
    </div>
    </div>
    
       
       <center>
            
              <button class="btn btn-default " style="margin-top:3px" ng-click="cancel()">Ok</button>
              
        </center>
      
       
          
        </div>
        
     
    </div>

        </div>
      
    </div>



</div>
